.filterDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
button {
  padding: 10px;
  border-radius: 10px;
  width: 120px;
  border-color: gray;
}
.divContainer {
  text-align: center;
  margin-top: 200px;
}
