<div class="container">
  <nav class="star-wars-nav">
    <h1>Star Wars App</h1>
    <ul>
      <li
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </li>
      <li
        routerLink="/people"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        People
      </li>
      <li
        routerLink="/about"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        About
      </li>
    </ul>
  </nav>
</div>
