<main>
  <h2>Create a Post</h2>
  <form [formGroup]="createPostForm" class="post-form">
    <h3 class="success-message">{{ successMessage }}</h3>
    <label for="author" class="form-label">Author</label>
    <input
      type="text"
      id="author"
      formControlName="author"
      placeholder="John Doe"
      class="form-input"
    />

    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      id="title"
      formControlName="title"
      placeholder="Title"
      class="form-input"
    />

    <label for="content" class="form-label">Content</label>
    <textarea
      type="text"
      id="content"
      formControlName="content"
      placeholder="Content...."
      class="form-textarea"
    ></textarea>
    <!-- <div formControlName="likes">Likes:</div> -->
    <button (click)="onSubmit()" class="form-button">Create Post</button>
  </form>
</main>
